.mainBox {
	overflow: hidden;
	position:relative;
	margin: 0 auto;
	max-width: 750px;
}

header img {
	display: block;
	width: 100%;
}

.tab-pane {
	padding-bottom: 2rem;
}

.mainPic {
	width: 100%;
}

.pagePic {
	position: absolute;
	z-index: 1;
	width: 7.7rem;
	height: 4.9rem;
}

.pagePic1-3 {
	top: 4.95rem;
	right: 2.4rem;
}

.pagePic1-4 {
	top: 10.2rem;
	right: 2.4rem;
}

.pagePic1-7 {
	top: 19.9rem;
	right: 2.4rem;
}

.pagePic2-5 {
	top: 17.5rem;
	right: 2.4rem;
}

.pagePic2-7 {
	top: 25.7rem;
	right: 2.4rem;
}

.pagePic3-3 {
	top: 4.9rem;
	right: 2.4rem;
}

.pagePic3-5 {
	top: 12.3rem;
	right: 2.4rem;
}

.pagePic3-7 {
	top: 19.8rem;
	right: 2.4rem;
}

.pagePic4-5 {
	top: 10.1rem;
	right: 2.4rem;
}

.pagePic4-7 {
	top: 17.6rem;
	right: 2.4rem;
}

.pagePic4-9 {
	top: 26rem;
	right: 2.4rem;
}

.slidingNo {
	overflow: hidden;
	height: 100%;
}

.popupBox {
	position: fixed;
	top: 0;
	z-index: 5;
	display: none;
	width: 100%;
	max-width: 750px;
	height: 100%;
}

.popup {
	z-index: 6;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
}

.btn-close {
	position: absolute;
	top: .3rem;
	right: .3rem;
	z-index: 7;
	width: 8%;
}

.popupPic {
	position: absolute;
	top: 8%;
	left: 10%;
	z-index: 7;
	display: none;
	width: 80%;
}

.tab-plugin {
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 750px;
	height: 2rem;
	background: #fff;
	z-index: 4;
}

.tab-box {
	float: left;
	width: 25%;
	height: 100%;
	border-top: 2px #E4E4E4 solid;
	color: #000;
	text-align: center;
	font-weight: 700;
	font-size: .6rem;
	line-height: 2rem;
}

.tab-box.on {
	border-top: 2px #F50000 solid;
	color: #F50000;
}

.swiper-slide {
	border-left: 1px #FDD504 solid;
	border-right: 1px #FDD504 solid;
}

.swiper-pagination-bullet {
	float: left;
	width: 25%;
	height: 100%;
	border-top: 2px #E4E4E4 solid;
	color: #000;
	text-align: center;
	font-weight: 700;
	font-size: .6rem;
	line-height: 2rem;
}

.tab-plugin .swiper-pagination-bullet-active {
	border-top: 2px #F50000 solid;
	color: #F50000;
}